<ion-content [fullscreen]="true">
  <ion-list class="ion-margin ion-text-center">
    <ion-list-header><img src="../../assets/img/logo.png" alt=""></ion-list-header>
    <ion-button color="primary" expand="block" shape="round" routerLink="/auth">Login</ion-button>
    <ion-button color="primary" expand="block" shape="round" routerLink="/registration">Cree un Compte</ion-button>
    <ion-text color="white"><p>Africa One Health University Network.</p></ion-text>
  </ion-list>
</ion-content>
<!-- <img src="../../assets/img/afrohun africa.png" alt=""> -->